.hero {
    display: flex;
    align-items: center;
    justify-content: space-between;
    width: 100%;
    height: 100vh;
    background-repeat: no-repeat;
    background-size: cover;
    padding: 0 70px 0 0;
    transition: background-image 0.5s ease;
    direction: rtl;
    gap: 74px;
    position: relative;
    overflow-x: hidden;
    background-position: center;
}

.heroSlider {
    position: relative;
    right: 0px;

}

.cards {
    display: flex;
    align-items: center;
    gap: 30px;
    flex-wrap: nowrap;

}

.container {
    position: absolute;
    top: 90%;
    width: 100%;
    max-width: 460px;
}

.container .step {
    display: flex;
    width: 100%;
    align-items: center;
    justify-content: space-between;
    position: relative;
    right: 38%;

}

.container .step .circle {
    display: flex;
    align-items: center;
    justify-content: center;
    width: 20.642px;
    height: 20.642px;
    border-radius: 50%;
    background: #EEE;
    color: #000;
    font-family: Poppins;
    font-size: 21px;
    font-weight: 600;
    letter-spacing: -1.05px;
    z-index: 8;
    cursor: pointer;
    transition: .5s;
}

.container .step .circle.active {
    background: #8dd3bb;
    width: 46.444px;
    height: 46.444px;
    border: none;
}

.container .step .progressBar {
    position: absolute;
    height: 4px;
    width: 100%;
    background: #8DD3BB;
    z-index: 7;
}

@media screen and (max-width:1100px) {
    .hero>div {
        position: absolute;
        top: 50%;
        left: 50%;
        transform: translate(-50%, -50%);
        gap: 0px;
    }

    .heroSlider {
        display: flex;
        transition: transform 0.5s ease;
        gap: 30px;
        overflow-x: auto;
        transform: translate(0%, 100%);
        /* margin-top: 100px; */
    }

    .container .step {
        display: none;
    }
}